{{#each players as |player|}}

    {{#if player}}
    <option value={{player.id}}>{{player.first_name}} {{player.last_name}}</option>
    {{else}}
    <option value="" disabled="disabled" selected="selected">Seasons</option>
    <option value=""> There are no seasons created  </option>
{{/if}}

{{/each}}
