#add-player-tool {
  background-image: url("https://i.imgur.com/xT0yRa8.png?2");
  background-size: contain;
  width: 125px;
  height: 125px;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #888888;
}

#add-player {
  min-height: 500px;
  margin: auto;
  float: left;
  background-color: #659966;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
}

#player-form-entry {
  background-color: #659966;
  max-width: 40%;
  float: left;
  margin: auto 10px;
}

#player-display-target {
  max-width: 50%;
  float: left;
  margin: 5px 10px;
}
