// set background for site
#site-body {
  background-image: url("https://i.imgur.com/aiDjOjp.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #496d91;
  color: #fff;
}

// Set initial display states
.navigation-bar, .enter-data, .view-data, #change-password, #modify-a-player, .navbar-default, ,.coaches-landing, .batting-roster, .view-roster-panel, .view-seasons-panel, .enter-season-panel {
  display: none;
}

// makes BNBSL banner responsive & centered
.img-responsive {
    margin: 0 auto;
}

.banner {
margin: auto;
}

// Sign-in & Sign-up forms in landing panel
.welcome-box {
  min-height: 275px;
  margin: 75px auto 0px auto;
  width: 650px;
  background-color: #496d91;
  text-align: center;
}

input {
  color: #000;
}

.auth-forms {
  max-width: 600px;
  min-height: 200px;
  margin: auto;
}

#login {
  float: left;
  width: 200px;
  margin: 20px 120px 20px 25px ;
}

#register {
  float: left;
  width: 200px;
  margin: 20px 25px 20px 25px
}

// basic panel definition
.enter-data, .view-data, .coaches-landing, .batting-roster, .view-roster-panel, .view-seasons-panel, .enter-season-panel  {
  margin: 25px auto;
  max-width: 900px;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  // min-height: 450px;
}
.coaches-landing {
  min-height: 400px;
  color: #6b7077;
  border-color: #496d91;
}

.coaches-landing > h3{
margin: 10px 10px;
text-align: center;
}

#coaches-instructions {
  float: right;
  width: 30%;
  min-height: 100%;
  margin-left: 10px;
  padding: 5px;
  background-color: #496d91;
  opacity: 0.25;
}
#coaches-instructions > h3, p {
  color: #496d91;
  opacity: 1;
}

.individ-tools {
  float: left;
  margin: 30px;
  // box-shadow: 10px 10px 5px #888888;
}

.tool-button {
  background-color: none;
  border: none;
  padding: 3px 6px;
  margin: 5px 5px;
  border-radius: 8px;
  display: inline-block;
}

.tool-button:hover {
  background-color: #f4a742;
}

#view-allPlayers {
  margin: 10px 5px;
}

form {
  margin: 10px 20px;
}

legend {
  color: #fff;
}
.program-radio {
  margin: 5px, 5px;
}

#change-PW {
  width: 20%;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

#change-pw-message {
  margin-top: 5px;
  margin-left: 5px;
  color: #f4c542;
}

#mode-switch {
  float: right;
  margin-right: 20px;
}
