
#site-body {
  background-image: url("https://i.imgur.com/aiDjOjp.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #496d91;
  color: #fff;
}

.img-responsive {
    margin: 0 auto;
}

.banner {
margin: auto;
}

.welcome-box {
  min-height: 275px;
  margin: 75px auto 0px auto;
  width: 650px;
  background-color: #496d91;
  text-align: center;
}

input {
  color: #000;
}

.auth-forms {
  max-width: 600px;
  min-height: 200px;
  margin: auto;
}

#login {
  float: left;
  width: 200px;
  margin: 20px 120px 20px 25px ;
}

#register {
  float: left;
  width: 200px;
  margin: 20px 25px 20px 25px
}

// navbar styling
button, .navbar-default button {
    background-color: #f4c542;
    border: none;
    color: #fff;
    padding: 3px 6px;
    margin: 5px 5px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.navbar-default > a{
  color: #fff;
}

button:hover, .navbar-default button:hover {
  background-color: #f4a742;
}
.navigation-bar {
  // position: fixed;
  margin: 25px auto;
  height: 120px;
  max-width: 900px;
}

.navbar-default {
  max-width: 1000px;
  margin-top: 5px;
  background-color: #496d91;
  color: #fff
}

.navigation-bar, .enter-data, .view-data, #change-password, #modify-a-player, .navbar-default {
  display: none;
}



.navigation-bar, .enter-data, .view-data, #change-password {
  background-color: #496d91;
  color: #fff
}

#change-password {
  width: 200px;
  height: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

.enter-data, .view-data {
  margin: 25px auto;
  max-width: 900px;
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  // min-height: 450px;
}

#view-allPlayers {
  margin: 10px 5px;
}

form {
  margin: 10px 20px;
}

legend {
  color: #fff;
}
.program-radio {
  margin: 5px, 5px;
}

#change-PW {
  width: 20%;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

#change-pw-message {
  margin-top: 5px;
  margin-left: 5px;
  color: #f4c542;
}

#navbar-center {
  width: 40%;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}
#mode-switch {
  float: right;
  margin-right: 20px;
}

#nav-message {
  clear: both;
  margin: 10px auto;
  text-align: center;
}

#nav-message {
  margin: auto auto auto 50px;
}
