#player-eval-tool {
  background-image: url("https://i.imgur.com/K2EjpOg.png?1") ;
  background-size: contain;
  width: 125px;
  height: 125px;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #888888;
}
