// navbar styling
button {
    float: left;
    background-color: #f4c542;
    border: none;
    color: #fff;
    padding: 3px 6px;
    margin: 5px 5px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

button:hover {
  background-color: #f4a742;
}

.navigation-bar {
  // position: fixed;
  margin: 10px auto;
  min-height: 60px;
  max-width: 1000px;
}

.navigation-bar, .enter-data, .view-data, #change-password {
  background-color: #496d91;
  color: #fff
}

#change-password {
position: relative;
  width: 300px;
  height: 175px;
  z-index: 300;
  margin: 40px auto;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

#navbutton{
  float: left;
  margin: 10px;
}

#change-PW {
  width: 20%;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

#change-pw-message {
  margin-top: 5px;
  margin-left: 5px;
  color: #f4c542;
}

#mode-switch {
  float: right;
  margin-right: 20px;
}

#navbar-center {
  width: 60%;
  float: right;
  margin-top: 10px;
  margin-left: 20px;
}

#nav-message {
  // clear: both;
  margin: 10px auto;
  text-align: left;
}

// #nav-message {
//   margin: auto auto auto 50px;
// }
