#roster-entry, #view-roster {
  min-height: 500px;
  margin: auto;
  background-color: #659966;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
}

#batting-roster-tool {
  background-image: url("https://i.imgur.com/3cdbMj8.png?1") ;
  background-size: contain;
  width: 125px;
  height: 125px;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #888888;
}



#player-map, #select-season-target {
  float: left;
  margin: auto 10px;
}

#select-season-target, #select-player-target {
  float: left;
  margin: 10px 10px;
}


#dynamic-field-map {
  float: left;
  min-height: 700px;
  min-width: 550px;
  background-image: url("https://i.imgur.com/qottp7T.png");
  background-repeat: no-repeat;
  background-position: top;
  border-style: solid;
  border-width: 2px;
  border-color: #f4c542;
  background-color: #659966;
}

#my-rosters {
  float: left;
  margin: 10px 10px;
  width: 30%;
}

#display-roster {
  margin-top: 500px auto;
  min-height: 100px;
  width: 500px;
}
